<h1>Bibliography#edit</h1>
<p>Find me in app/views/bibliography/edit.html.erb</p>

<%= render('shared/errors', errors: @bibliography.errors) %>

<%= render('form') %>
<%= link_to('back', bibliographies_path) %>
